<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">

<body>
    <section layout:fragment="container">
        <div class="container mt-3">
            <div class="d-flex justify-content-between align-items-center bg-primary rounded">
                <div >
                    <button type="button" id="newOrderBtn" class="btn btn-warning disabled ms-3"
                        onclick="openNewOrderModal()">
                        New Order
                    </button>
                    <button type="button" id="paymentBtn" class="btn btn-success disabled ms-1"
                        onclick="openPaymentModal()">
                        Payment
                    </button>
                    <button type="button" id="transactionBtn" class="btn btn-secondary ms-1" onclick="startTransaction()">
                        New Transaction
                    </button>
                </div>
                <div class="m-3">
                    <input required readonly type="text" id="generatedReference" 
                        class="form-control form-control-sm" autocomplete="off" placeholder="reference" />
                </div>
            </div>


            <table class="table table-hover table-sm" id="orderTable">
                <thead>
                    <tr class="align-middle">
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="orderTableInput">
                </tbody>
                <tfoot>
                    <tr>
                        <th style="padding-top: 10px; padding-bottom: 10px;">Total</th>
                        <td style="padding-top: 10px; padding-bottom: 10px;"></td>
                        <td style="padding-top: 10px; padding-bottom: 10px;">
                            <input required readonly type="number" id="totalQty" class="form-control form-control-sm" autocomplete="off" value="" placeholder="Total Quantity"/>
                        </td>
                        <td style="padding-top: 10px; padding-bottom: 10px;">
                            <input required readonly type="number" id="amount" name="amount" class="form-control form-control-sm" 
                            autocomplete="off" value="" placeholder="Amount"/>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div th:insert="~{transaction/order :: order}"></div>
        <div th:insert="~{transaction/payment :: payment}"></div>
        <script src="js/transaction.js"></script>
    </section>
</body>

</html>