<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">

<body>
    <section layout:fragment="container">
        <div class="container mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <button type="button" id="newOrderBtn" class="btn btn-primary mt-1 mb-3 disabled"
                        onclick="openNewOrderModal()">
                        New Order
                    </button>
                    <button type="button" id="paymentBtn" class="btn btn-primary mt-1 mb-3 disabled"
                        onclick="openPaymentModal()">
                        Payment
                    </button>
                    <button type="button" id="transactionBtn" class="btn btn-primary mt-1 mb-3" onclick="startTransaction()">
                        New Transaction
                    </button>
                </div>
                <div>
                    <input required type="text" id="reference" name="reference"
                        class="form-control form-control-sm " autocomplete="off" placeholder="reference" />
                </div>
            </div>


            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr class="align-middle">
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="orderTableInput">

                </tbody>
            </table>
        </div>

        <div th:insert="~{transaction/order :: order}"></div>
        <div th:insert="~{transaction/payment :: payment}"></div>
        <script src="js/transaction.js"></script>
    </section>
</body>

</html>