<div th:fragment="payment">
    <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="paymentModalLabel">Payment</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="paymentForm">

                        <div class="form-outline mb-4">
                            <label class="form-label" for="reference">reference</label>
                            <input readonly required type="text" name="reference" id="reference"
                                class="form-control form-control-sm " autocomplete="off" placeholder="reference" />
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="bill">bill</label>
                            <input readonly type="number" name="amount" id="bill"
                                class="form-control form-control-sm " autocomplete="off" placeholder="bill" />
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="payment">payment</label>
                            <input required type="number" name="payment" id="payment"
                                class="form-control form-control-sm " autocomplete="off" placeholder="payment" onchange="loadChange(this.value)" onkeyup="loadChange(this.value)"/>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="change">change</label>
                            <input readonly required type="number" name="change" id="change"
                                class="form-control form-control-sm " autocomplete="off" min=0 value=0 placeholder="change" />
                        </div>
                    </form>
                    <p id="modalParagraph"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="payButton" class="btn btn-primary" onclick="">Save changes</button>
                    <button type="button" id="cancelButton" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>